src/test/resources/sw/utils/xml/resolvers/note.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="note" type="note" />
		
	<xs:complexType name="note" mixed="true">
		<xs:sequence>
			<xs:element name="to" type="xs:string" />
			<xs:element name="from" type="xs:string" />
			<xs:element name="heading" type="xs:string" />
			<xs:element name="body" type="xs:string" />
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required" />
	</xs:complexType>
</xs:schema>